.button {
  display: block;
  text-align: center;
  border: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
  color: black;
  width: 250px;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: aquamarine;
  transition: all 250ms linear;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: teal;
  transform: scale(1.1);
  transition: all 250ms linear;
}
